/* div{
    padding: 5px;
    border: 1px solid black
} */

.btn{
    margin: 10px;
}

/* #screenshots{
    max-width: 100%;
    height: auto;
} */

.container-fluid{
    border: 1px solid black
}

#form{
    border: 1px solid black
}